@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Braah+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #fff;
}

:root {
  --dark-color: #657786;
  --dark-blue: #0d0e25;
  --white-color: #ffff;
  --beautiful-blue: #1fd0ec;
  --pink-color: #fb01fe;
}

#root {
  height: 100vh;
}

/* Utilities */

.split {
  position: relative;
  width: 100%;
}

.splitContainer {
  display: flex;
}

.glass {
  background: rgba(255, 255, 255, 0.092);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.sec {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Landing Page */

.landingPage {
  background-color: var(--dark-blue);
  color: var(--dark-color);
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.logo {
  position: fixed;
  left: 1.5rem;
  top: 2.2rem;
  width: 3rem;
  z-index: 5;
}

.blop {
  position: absolute;
  right: -50%;
  top: -10rem;
}

.rightHomepage,
.leftHomepage {
  position: absolute;
}

.rightHomepage {
  top: 0;
  transform: scale(0.7);
  right: -1rem;
}

.leftHomepage {
  left: -1rem;
  bottom: -2rem;
  z-index: -2;
  transform: scale(0.6);
}

.arrow {
  position: absolute;
  top: 2.5rem;
  transform: scale(0.9);
  z-index: -2;
  right: -15rem;
}

.landingPage main h2 {
  text-align: center;
  width: 70%;
  position: absolute;
  bottom: 44%;
  font-size: 0.6rem;
  word-spacing: 1rem;
  text-transform: uppercase;
  z-index: 999;
}

.landingPage main p {
  font-size: 20rem;
  position: absolute;
  z-index: -54;
  opacity: 0.1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  top: 0rem;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.landingPage main h1 {
  color: #fff;
  word-spacing: 1;
  font-size: 5rem;
  font-family: "Braah One", sans-serif;
  font-weight: 500;
  font-size: 8rem;
  text-shadow: 0 0 30px #fff, 0 0 10px #fff, 0 0 150px #ffffff;
}

.landingPage main {
  height: 100%;
}

.landingPage main div {
  height: 30rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 3;
  right: -50%;
  transform: translateX(-50%);
  top: 25%;
}

.landingImg {
  width: 30rem;
  font-weight: 100;
}

.landingPage h3 {
  width: 40rem;
  text-align: center;
}

.landingNav {
  background: rgba(255, 255, 255, 0.086);
  border-radius: 50rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  display: flex;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
  overflow: hidden;
  z-index: 40;
}

.landingNav a {
  transition: 0.2s;
  padding: 0.6rem 2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 20rem;
  text-transform: uppercase;
}

@keyframes nav {
  0% {
    margin: 0;
    background-color: #0d0e252c;
  }

  50% {
    margin-top: 0.5rem;
    background-color: var(--dark-blue);
  }
}

.activeClass {
  background-color: var(--dark-blue);
  animation: nav forwards 0.4s ease-in-out;
}

.buttonLanding {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: var(--dark-blue);
  border: 0.08em solid var(--white-color);
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}

.buttonLanding span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: var(--dark-blue);
  border-radius: 0.2em;
  font-size: 1.5em;
  color: var(--white-color);
  border: 0.08em solid var(--white-color);
  box-shadow: 0 0.4em 0.1em 0.019em var(--white-color);
}

.buttonLanding span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 var(--white-color);
}

.buttonLanding span:not(hover) {
  transition: all 1s;
}

/* About Page */

.about {
  height: 100vh;
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstPart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.firstPart img {
  width: 12rem;
  margin-left: 1.3rem;
}

.firstPart h2 {
  width: 10rem;
  text-align: center;
  font-size: 3rem;
}

.secondPart {
  width: 40rem;
  padding: 2rem;
  display: flex;
}

.secondPart img {
  margin-right: 1rem;
}

/* Features */

.features > div {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 2;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 20rem;
  position: relative;
  padding: 1rem;
}

.card p {
  padding: 0 2rem;
}

.card h2 {
  margin-bottom: 2rem;
}

.card img {
  transform: scale(1.4);
  position: absolute;
  top: -8%;
}

.bg2 {
  position: absolute;
  width: 100%;
}

/* Login page */

.loginPage {
  position: relative;
  background-color: #0d0e25;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  z-index: 2;
}

.bg3 {
  position: absolute;
  top: -75%;
  left: -15%;
  animation: wheel 120s infinite ease-in-out;
}

@keyframes wheel {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
    scale: 1.5;
  }

  100% {
    transform: rotate(0);
  }
}

.logoLogin {
  width: 12rem;
}

.loginBtn {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.loginBtn svg {
  height: 24px;
}

.loginBtn:hover {
  transform: scale(1.02);
}

.goBack {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.goBack svg {
  transform: scale(1.9);
  fill: #fff;
}

/* Features */

.feedback {
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.feedbackContainer {
  width: 60rem;
  height: 35rem;
}

.leftFd {
  position: relative;
  left: -2rem;
}

.hdFdback {
  width: 30rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

.freedom {
  position: absolute;
  left: 7rem;
  width: 15rem;
  top: 8rem;
  z-index: 2;
}

.leftHand {
  left: -2.5rem;
  bottom: 3rem;
}

.rightHand {
  left: 13rem;
  top: 6rem;
}

.leftHand,
.rightHand {
  position: absolute;
  width: 15rem;
}

.circles {
  position: absolute;
  left: 10rem;
  z-index: -1;
}

.circle {
  width: 8rem;
  height: 8rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
}

.c1 {
  top: 9.4rem;
  left: 4.8rem;
}

.c2 {
  background-color: var(--beautiful-blue);
  transform: scale(1.5);
  z-index: -2;
  top: 3rem;
  left: 1.5rem;
}

.c3 {
  bottom: -5rem;
  left: -2.5rem;
}

.bgFd {
  position: absolute;
  bottom: -50rem;
  z-index: -5;
}

.infoBg {
  width: 26rem;
  position: absolute;
  right: 3.3rem;
  z-index: -1;
  bottom: 50%;
  transform: translateY(50%);
}

.rightFd label,
.rightFd p {
  color: var(--dark-blue);
}

.rightFd p {
  margin-top: 5rem;
  width: 15rem;
  direction: rtl;
  margin-left: 4.5rem;
}

.rightFd form {
  z-index: 5;
  position: absolute;
  bottom: 0.6rem;
  width: 100%;
  right: 3.3rem;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rightFd form button {
  border: none;
  background-color: var(--pink-color);
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  height: 3rem;
}

.rightFd input,
.rightFd label,
.rightFd textarea {
  width: 80%;
  z-index: 5555;
  outline: none;
  color: var(--dark-blue);
}

.rightFd input,
.rightFd textarea {
  border: none;
  border-bottom: solid 1px var(--pink-color);
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.rightFd textarea {
  resize: none;
  height: 6rem;
  margin-bottom: 7.5rem;
}

.gtInTouch {
  position: absolute;
  left: -9.8rem;
  bottom: 0;
  width: 14rem;
  z-index: 33;
  animation: rotatingGtin 10s infinite linear;
}

@keyframes rotatingGtin {
  100% {
    transform: rotate(360deg);
  }
}

.shapeFdback {
  position: absolute;
  z-index: -4;
  left: -8rem;
  bottom: -1.5rem;
  transform: scale(0.8);
}
